.title {
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-size: 170%;
    font-weight: 300;
}
.heroArea {
    margin-top: 50px;
    height: calc(100% - 50px);
    width: 100%;
    position: relative;
    z-index: 800;
    overflow: hidden;
    background-image: url(../media/herobg-3.jpg);
    background-size: cover;
    background-position: bottom
}
.heroBoxContainer {
    max-width: 900;
    margin: 0 auto;
    padding: 60;
    margin-top: 40;
}
.heroBox {
    padding: 30;
    width: 100%;
    background-color: white;
}
.hero-catchPhrase {
    padding: 20;
    text-align: center;
    font-size: 220%;
    font-weight: 300;
}
.phrase-sub {
    font-size: 70%;
}
.enterLocation {
    height: 60;
    display: flex;
    margin: 0 auto;
    margin-bottom: 20;
    margin-top: 10;
    max-width: 450;
}

.location-submit {
    width: 100;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-left: auto;
}
.check-icon {
    font-size: 230%;
    transition: .2s;
}
.location-input {
    padding-top: 8.4;
    width: calc(100% - 100px);
    padding-left: 30;
    padding-right: 30;
}

.location-submit:hover .check-icon{
    color: #ff1744;
    transform: scale(1.1);
}
.input-location-box {
    width: 100%!important;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
}
input[type=text]:focus {
    border-bottom: none!important;
    box-shadow: none!important;
}
input[type=text] {
    border-bottom: none!important;
    box-shadow: none!important;
    font-size: 115%!important;
}
.nav-top {
    top: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 50;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 900;
}
#loginButton {
    margin-left: auto;
    margin-right: 40;
    text-transform: none;
}
#cookButton {
    margin-left: 40;
    text-transform: none;
}

.aboutSection {
    margin-top: -2;
    height: 300;
    z-index: 900;
    position: relative;
    background-color: #010102;
}