.pac-item {
    cursor: pointer;
    padding: 15;
    font-size: 12;
}
.pac-container {
    margin-top: 20;
    position: relative;
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}
.pac-container:after {
    display: none!important;
}
.pac-matched {
    font-size: 120%;
    font-family: Roboto;
    font-weight: 500!important;
}
.pac-item-query {
    font-size: 120%;
    font-family: Roboto;
    font-weight: 400!important;
}
.pac-icon {
    
}