@font-face {
    font-family: summerHearts;
    src: url(../fonts/SummerHearts-Regular.otf);
}
@font-face {
    font-family: 'adamcg';
    src: url('../fonts/adam.cg-webfont.woff2') format('woff2'),
     url('../fonts/adam.cg-webfont.woff') format('woff');
}

body {
}
body::-webkit-scrollbar { 
    display: none; 
}
/*NAVIGATION BAR */

.nav-top {
    top: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 50;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1000;
}
.secondary-nav {
    position: fixed;
    top: 50;
    display: none;
    height: 50;
    padding: 5;
    width: 100%;
    z-index: 900;
    background-color: black;
}
.title {
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: adamcg;
    font-size: 170%;
    font-weight: 700;
}
.deliver-to {
    padding: 8;
    padding-right: 30;
    background: linear-gradient(to right, #cb356b, #bd3f32); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    margin-left: 30;
    display: flex;
    font-family: Poppins;
    align-items: center;
    border-radius: 20px;
}
.level{
    padding: 8;
    margin-right: 30;
    padding-left: 20;
    padding-right: 20;
    background: linear-gradient(to right, #cb356b, #bd3f32); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: Poppins;
    color: white;
    margin-left: auto;
    display: flex;
    align-items: center;
    border-radius: 20px;
}
.location-display {
    margin-left: 10;
    margin-top: 2;
    margin-right: 10;
}
.level-display {
    margin-left: 10;
    margin-top: 2;
    margin-right: 10;
}
.openNav {
    margin-left: 40;
    padding: 6;
    background: linear-gradient(to right, #cb356b, #bd3f32); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 30px;
    z-index: 950;
    cursor: pointer;
    display: none;
    user-select: none;
}
.openCart{
    margin-right: 40;
    padding: 6;
    background: linear-gradient(to right, #cb356b, #bd3f32); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 30px;
    z-index: 950;
    cursor: pointer;
    display: none;
    user-select: none;
}
.shoppingBasketIcon{
    color: #ff1744; 
}

/*NAV BAR*/
.login-box {
    margin-top: 70;
    margin-left: 30;
    padding: 25;
    width: calc(100% - 60px);
    margin-right: 20;
    margin-bottom: 15;
    background: linear-gradient(to right, #cb356b, #bd3f32); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 
}
.login-box > div {
    color: white;
    font-family: Poppins;
}
.login-box .email {
    font-size: 12;
}
.login-box .prof-pic {
    margin-bottom: 10;
    border: 3px solid white;
    height: 60;
}
.priceSlider {
    padding: 30;
    padding-bottom: 30;
    padding-top: 15;
}
.noUi-tooltip span {
    display: block;
    top: -9.5;
    text-align: center;
    left: -.9;
}
.noUi-target.noUi-horizontal .noUi-tooltip, .noUi-connect, .noUi-horizontal .noUi-handle, .noUi-vertical .noUi-handle{
    background-color: #ff1744;
}
.filter-select {
    padding: 30;
    padding-bottom: 0;
    font-family: Poppins;
    padding-top: 20;
}
.select-wrapper {

}
.moveup {
    margin-top: -25;
}
.downmore {
    margin-top: 20;
}
#navigationBar {
    font-family: Poppins;
}
/*SHOPPING CART*/
.cartTitle {
    font-size: 24;
    background-color: white;
    padding: 20;
    padding-left: 30;
    padding-right: 30;
    border-bottom: 1px solid #e0e0e0;
    margin-top: 50;
    font-family: Poppins;
}
#shoppingCart {

}
.cart {
    padding: 30;
    padding-bottom: 60;
    padding-top: 20;
    overflow: auto;
    height: calc(100% - (90px + 50px));
}
.cart .item {
    height: 130;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    color: white;
    color: black;
    margin-bottom: 10;
    overflow: visible;
    cursor: default;
    position: relative;
    margin-top: 10;
    font-family: Poppins;
}
.cart .item .delete-btn {
    position: absolute;
    z-index: 500;
    padding: 5;
    transform: scale(0);
    color: cb356b;
    border-radius: 30px;
    background-color: white;
    right: -10;
    top: -10;
    opacity: 0;
    transition: opacity .2s;
}
.cart .item:hover .delete-btn {
    transform: scale(1);
    opacity: 1;
}
.cart .item .thumbnail {
    height: 70%;
    display: flex;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #cb356b, #bd3f32); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.cart .item .thumbnail .text {
    color: white;
    font-weight: 700;
    position: relative;
    max-width: 70%;
    font-size: 18;
}
.cart .item .thumbnail .text .from {
    font-weight: 300;
    color: #eee;
    font-size: 12;
}
.cart .item .cart-item-title {
    font-weight: 700;
}
.cart .item .thumbnail.bg .darken-layer{
    opacity: 1;
}
.cart .darken-layer {
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    top: 0;
    position: absolute;
}
.cart .item .priceinfo {
    display: flex;
    padding-left: 30;
    padding-right: 30;
    height: 30%;
    align-items: center;
}
.priceinfo .total {
    font-size: 14;
    margin-left: auto;
}
.priceinfo .num {
    display: flex;
    font-size: 14;
    align-items: center;
}
.priceinfo .num i {
    font-size: 14;
}
.checkoutbnt {
    position: absolute;
    bottom: 60;
    width: 100%;
    background-color: white;
    padding: 0;
    padding-left: 30;
    font-family: Poppins;
    font-weight: 700;
    color: ff1744 ;
    transition: color .4s, background-color .4s, transform .2s; 
    cursor: pointer;
    padding-right: 30;
    display: flex;
}
.checkoutbnt .total {
    margin-left: auto;
    padding-left: 30;
    border-left: 1px solid #eee;
    color: blac
}
.checkoutbnt:hover {
    background-color: ff1744;
    color: white;
}
.upshadow {
    -webkit-box-shadow: 0 -6px 10px 0 rgba(0, 0, 0, 0.14), 0 -1px 18px 0 rgba(0, 0, 0, 0.12), 0 -3px 5px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 -6px 10px 0 rgba(0, 0, 0, 0.14), 0 -1px 18px 0 rgba(0, 0, 0, 0.12), 0 -3px 5px -1px rgba(0, 0, 0, 0.3);
}
.searchbox-container {
    margin: 0 auto;
    width: 100%;
    z-index: 900;
    padding-left: 30;
    padding-right: 30;
    margin-top: 50;
    position: fixed;
}
.searchbox {
    height: 40;
    padding-left: 30;
    padding-right: 30;
    max-width: 400;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 30;
    background-color: white;
    
}
.searchInput {
    font-size: 16px!important;
    position: relative;
    font-family: Poppins;
    margin-bottom: 0!important
}
input[type=text]:focus {
    border-bottom: none!important;
    box-shadow: none!important;
}
input[type=text] {
    border-bottom: none!important;
    box-shadow: none!important;
}
.optional{
    width: 200;
    margin-top: 9;
    cursor: pointer;
    user-select: none;
    height: 40;
}


/*MARKETPLACE WINDOW */
.marketplace-window {
    padding-left: 250;
    padding-right: 250;
    position: relative;
    padding-top: 50;
    width: 100%;
    /*background: linear-gradient(#616161, black);*/
    background-color: white;
    background-size: 1400px;
    transition: filter .2s;

}
.marketplace-window.blurred {
    filter: blur(20px);
    transition: filter .2s;
}
.item-banner {
    height: 150;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
     background-image: url(../media/lightbg2.jpeg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     background-position: bottom;
    font-family: Poppins;
    font-size: 400%;
}
.paralaxheader {
    height: 320;
    z-index: 800;
    z-index: 4;
    background-image: url(../media/lightbg.jpeg);
    background-size: 2000px;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    position: relative;
    align-items: center;
}
.paralax-title {
    font-family: Poppins;
    font-weight: 700;
    color: rgb(253,14,1);
    line-height: 1.2;
    position: relative;
    z-index: -2;
    width: 100%;
    text-align: center;
    background-position: bottom;
    font-weight: 700;
    font-size: 60;
}
.paralax-title .sub {
    margin-top: 10;
    font-size: 70%;
    text-align: center;
    color: black;
}
.item-footer {
    height: 100;
    padding: 30;
    position: relative;
    z-index: 900;
}
.copyright {
    color: black;
}
.terms-of-service {
    margin-left: auto;
    color: black;
    cursor: pointer;
}
.window-footer {
    height: 40;
    display: flex;
    border-top: 1px solid #eee;
    font-family: Poppins;
    padding: 10;
    padding-left: 30;
    padding-right: 30;
    background-color: white;
}
.window-items {
    z-index: 200;
    position: relative;
    column-count: 3;
    max-width: 1200;
    margin: 0 auto;
    column-gap: 0px;
    border-radius: 10px;
    overflow: hidden;

}
.striped {
    -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3), 0 -16px 24px 2px rgba(0, 0, 0, 0.14), 0 -6px 30px 5px rgba(0, 0, 0, 0.12), 0 -8px 10px -5px rgba(0, 0, 0, 0.3);

}

.tastery-item {
    user-select: none;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    min-height: 185;
    background-size: cover;
}
.darken {
    position: relative;
    width: 100%;
    min-height: 185;
    font-family: Poppins;
    background-color: rgba(0,0,0,.3);
}
.item-title {
    padding: 30;
    padding-bottom: 0;
    color: white;
    font-size: 180%;
    font-weight: 300;
}
.item-rating {
    padding-left: 30;
    padding-right: 30;
    padding-bottom: 25;
}
.item-details {
    position: absolute;
    right: 30;
    top: 30;
    display: flex;
}
.item-detail {
    background-color: white;
    border-radius: 30px;
    width: 35;
     -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
    height: 35;
    text-align: center;
    padding-top: 7;
    margin-left: 10;
    align-items: center;
    color: #ff1744;
    font-size: 15px;
}
.ratingStar {
    margin-right: 3;
    font-size: 140%;
    background-color: rgba(0,0,0,.7);
    border-radius: 30px;
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}
.filledIn {
    color: #ff1744;
}
.item-description {
    color: white;
    font-weight: 300;
    padding-left: 30;
    padding-right: 30;
    padding-bottom: 10;
    padding-top: 0;
}
/*MENU MODAL*/
.menu-modal-container {
    position: fixed;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,.5);
    height: 100%;
    z-index: -1000;
    opacity: 0;
    top: 0;
    -webkit-transition: opacity .3s, transform .3s, z-index 0s .3s;
}
.menu-modal-container.active {
    z-index: 901;
    opacity: 1;
    transform: translateY(0px);
    -webkit-transition: opacity .3s, transform .3s;
}
.menu-modal-container.active .menu-page{
    transform: translateY(0px);
    -webkit-transition: opacity .3s, transform .3s;
}
.menu-modal-container::-webkit-scrollbar { 
    display: none; 
}
::-webkit-scrollbar { 
    display: none; 
}
.menu-page {
    transform: translateY(100px);
    max-width: calc(100% - 500px);
    margin: 0 auto;
    position: relative;
    min-height: calc(100% - 354px);
    margin-top: 354;
    box-sizing: border-box;
    padding-bottom: 100;
    z-index: 901!important;
    background-color: white;
     -webkit-transition: opacity .3s, transform .3s, z-index 0s .3s;
}
.menu-page .header {
    display: flex;
    justify-content: center;
}
.thumbnail-container {
    justify-content: center;
    display: flex;
    margin-top: -200;
}
.menu-thumb {
    height: 300;
    width: 500;
    background-size: cover;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    background-image: url(../media/foodpics/restraunt.jpg)
}
.menu-thumb .darker {
    background-color: rgba(0,0,0,.6);
    width: 100%;
    height: 100%;
    padding: 50;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-thumb .menu-title {
    color: white;
    font-family: Poppins;
    user-select: none;
    font-size: 40;
}
.menu-title .sub {
    font-size: 20;
    margin-bottom: -10;
    color: #eee;
}
.slant1 {
    position: absolute;
    width: 50%;
    top: -30;
    left: 0;
    background-color: white;
    transform: skewY(-3deg);
    height: 100;
}
.slant2 {
    position: absolute;
    width: 50%;
    top: -30;
    right: 0;
    background-color: white;
    transform: skewY(3deg);
    height: 100;
}
.menu-page .stats {
    display: flex;
    max-width: 500;
    padding: 20;
    background: linear-gradient(to right, #cb356b, #bd3f32);
    margin: 0 auto;
    border-radius: 30px;
    color: white;
    z-index: 600;
    position: relative;
    justify-content: space-around;
    margin-top: 30;
}
.stats .rating {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 5;
    border-right: solid 1px white;
    justify-content: space-around;
}
.stats .rating div {
    font-size: 23;
    opacity: .4;
}
.stats .rating div.filledIn {
    opacity: 1;
    color: white;
}
.stats .cost {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 5;
    border-right: solid 1px white;
}
.stats .time {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 5;
}
.stats .label {
    font-family: Poppins;
    font-size: 17;
    margin-left: 10;
}
.menu {
    max-width: 800;
    padding: 30;
    margin: 0 auto;

    margin-top: 50;
}
.menu .menu-header {
    font-family: Poppins;
   
    font-size: 30;
    display: flex;
    align-items: center;
}
.menu-header .text {
     background: linear-gradient(to right, #cb356b, #bd3f32);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu-header .search-bar {
    margin-left: auto;
    height: 35;
    width: 300;
    color: black;
    border: 1px #eee solid;
    padding-left: 10;
    display: flex;
    align-items: center;
    padding-right: 10;
}
.menu-header .search-bar input {
   color: black;
    font-size: 14;
    margin-top: 21;
}
.search-bar i {
    font-size: 20;
    margin-right: 10;
     background: linear-gradient(to right, #cb356b, #bd3f32);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu-nav {
    margin-bottom: 20;
    border-bottom: solid #eee 1px;
}
.menu-nav .tab a {
    cursor: pointer;
    font-family: Poppins;
}
.menu .text-header {
    font-size: 20;
    color: ff1744;
    background: linear-gradient(to right, #cb356b, #bd3f32);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Poppins;
}
.menu-items-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    margin-top: 10;
    margin-bottom: 20;
}
.menu-item {
    width: calc(50% - 4px);
    height: 130;
    padding: 20;
    margin: 2;
    border: 1px #eee solid;
}
.item-header {
    display: flex;
    font-family: Poppins;
    background: linear-gradient(to right, #cb356b, #bd3f32);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.item-header .price {
    margin-left: auto;
}
.menu-item .description {
    font-size: 12;
    font-family: Poppins;
    color: gray;
}
.attributes {
    margin-bottom: 2;
    font-size: 12;
    color: rgba(0,0,0,.8);
    font-family: Poppins;
    margin-left: -3;
    display: flex;
}
.attr {
    padding: 3;
    border-right: 1px solid #eee;
}
.message {
    max-width: 800;
    padding: 50;
    margin: 0 auto;
    margin-top: 50;
    font-family: Poppins;
    color: white;
    background: linear-gradient(to right, #cb356b, #bd3f32);
}
.message .sub {
    font-size: 80%;
    color: #eee;
}
/*search-modal*/
.search-modal-container.active .search-modal{
    transform: scale(90);
    opacity: 1;
    transition: transform .6s .1s, opacity .4s;
}
.search-modal {
    position: fixed;
    margin: 0 auto;
    width: 30;
    height: 30;
    top: 0;
    right: 0;
    background: linear-gradient(to right, #cb356b, #bd3f32);
    margin-top: 85;
    transform: scale(0);
    opacity: 0;
    transition: opacity .3s, transform 0s .3s;
    border-radius: 10000px;
    left: 0;
    z-index: 500;
}
.search-modal-content {
    color: white;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    position: fixed;
    margin: 0 auto;
    margin-top: 100;
    max-width: 800;
    z-index: 503;
    padding: 30;
    padding-left: 40;
    padding-right: 40;
    transition: opacity .2s;
    overflow: auto;
    transform: scale(0);
}
.search-modal-container.active .search-modal-content{
    opacity: 1;
    transform: scale(1);
    transition: opacity .4s .4s;
}
.search-title {
     margin: 0 auto;
    margin-top: 10;
    max-width: 600;
    font-size: 16;
    font-family: adamcg;
    padding-bottom: 10;
    border-bottom: 1px solid #eee;
}
.search-modal-content ul li{
    padding: 20;
    font-family: Poppins;
    max-width: 600;
    color: white;
    cursor: pointer;
    margin: 0 auto;
}
.search-modal-content ul li .head{
    display: flex;
    font-size: 16;
    align-items: center;
    margin-bottom: 6;
}
.search-modal-content ul li .head .name{
    font-weight: 700;
}
.search-modal-content ul li .head .type{
    margin-left: auto;
}
.search-modal-content ul li .head .thumb{
    height: 30;
    width: 30;
    border-radius: 30px;
    margin-right: 10;
    background: linear-gradient(to right, #ed4264, #ffedbc);
}

/*item modal container*/
.item-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: -1000;
    background-color: rgba(0,0,0,.7);
    opacity: 0;
    transition: opacity .2s, z-index 0s .3s;
}
.item-modal-container.active { 
    opacity: 1;
    z-index: 996;
    transition: opacity .4s, z-index 0s;
}
.item-modal-page {
    position: relative;
    max-width: 500;
    margin: 0 auto;
    margin-top: 170;
    overflow: hidden;
    background-color: white;
    transform: scale(.5);
    margin-bottom: 100;
    opacity: 0;
    transition: opacity .2s, transform .2s;
}

.item-modal-container.active .item-modal-page{ 
    transform: scale(1);
    overflow: hidden!important;
    opacity: 1;
    transition: opacity .2s, transform .2s;
}
.item-modal-header {
    padding: 30;
    padding-left: 40;
    position: relative;
    
    height: 200;
    background: linear-gradient(to right, #cb356b, #bd3f32);
    background-size: cover;
}
.item-modal-header .ctnt {
    position: relative;
    display: flex;

    margin-top: 6;
}
.item-header-title {
    font-size: 26px;
    color: white;
    margin-top: -5;
    position: relative;
    font-family: Poppins;
}
.from {
    font-size: 14;
    margin-top: -0;
}
.place-link {
    cursor: pointer;
}
.white-slant {
    position: absolute;
    height: 150;
    width: 100%;
    left: 0;
    bottom: -50;
    transform: skewY(-8deg);
    background-color: white;
}
.item-modal-header.bg {
    
}
.item-modal-header.bg .darken-layer {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,.5);
}
.item-modal-header .btns {
    margin-left: auto;
    width: 160;
    position: relative;
    z-index: 995;
}
.addtocart-btn {
    height: 70;
    display: flex;
    align-items: center;
    position: relative;
    padding: 13;
    z-index: 801;
    font-size: 25;
    font-family: Poppins;
    background-color: white;
}
.num-items {
    font-family: Poppins;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    position: relative;
}
.num-display {
    font-size: 23;
    padding: 10;
}
.plus, .minus {
    font-size: 20;
    height: 30;
    cursor: pointer;
    width: 30;
    color: white;
    border-radius: 30px;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #cb356b, #bd3f32);
}
.plus:hover , .minus:hover {
    transform: scale(1.1);
}
.plus {
    margin-left: 10;
}
.minus {
    margin-right: 10;
}
.addtocart-btn .price {
    margin-left: auto;
    background: linear-gradient(to right, #cb356b, #bd3f32);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.addtocart-btn .label {
    font-size: 30!important;
    background: linear-gradient(to right, #cb356b, #bd3f32);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.item-modal-page .body {
    position: relative;
    padding: 40;
    z-index: 994;
    margin-top: -70;
}
.item-modal-page .body .ratings {
    display: flex;
    align-items: center;
    padding: 10;
    font-size: 20;
    margin-top: -10;
     background: linear-gradient(to right, #cb356b, #bd3f32);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.item-modal-page .body .ratings div {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.flex-row {
    display: flex;
}
.flex-row .left-side {
    max-width: 260;
}
.flex-row .right-side {
    width: calc(100% - 260px);
    padding: 20;
    padding-right: 0;
}
.right-side .tags {
    padding: 18;
    display: flex;
    justify-content: center;
    font-family: Poppins;
    text-align: center;
    flex-direction: column;
    font-weight: 300;
    color: gray;
}
.right-side .tags .tag{
    padding: 3;
}
.right-side .tags .tag:first-letter {
    text-transform: capitalize
}
.item-modal-page .body .time {
    margin-left: auto;
    border-left: 1px solid #eee;
}
.body .desc {
    padding: 20;
    margin-top: 20;
    height: 110;
    align-items: center;
    display: flex;
    font-family: Poppins;
}
.dietary-restrictions {
    margin-top: 50;
    font-family: Poppins;
}
.tags .none {
    font-size: 20;
    width: 100%;
    color: gray;
    font-family: Poppins;
}
/*toast*/
.toast-style {
    font-family: Poppins;
    font-weight: 700;
    background: linear-gradient(to right, #cb356b, #bd3f32);
}
/*RESPONSIVENESS */
@media only screen and (max-width: 1100px) {
    .openNav, .openCart {
        display: block;
    }
    .marketplace-window {
        padding-left: 0;
        padding-right: 0;
    }
    .menu-page {
        max-width: 100%;
    }
    
}
@media only screen and (max-width: 600px) {
    .menu-thumb {
        max-width: 360;
        max-height: 216;
    }
    .menu-page .stats {
        max-width: 400;
    }
    .menu-header .text {
        margin-right: 40;
    }
    .menu-item {
        width: 100%;
    }
    .review-container {
        column-count: 1;
    }
    .stats .rating div {
        font-size: 18;
    }
    .menu-page {
        padding-bottom: 0;
    }
}
@media only screen and (max-width: 400px) {
    .menu-thumb {
        max-width: 320;
        max-height: 216;
    }
    .menu-page .stats {
        max-width: 400;
        padding: 15;
    }
    .menu-header .text {
        margin-right: 40;
    }
    .menu-item {
        width: 100%;
    }
    .openNav {
        margin-left: 20;
    }
    .openCart {
        margin-right: 20;
    }

}
@media only screen and (max-width: 500px) {
    .item-modal-header .ctnt{
        flex-direction: column;
    }
    .item-modal-header .btns {
        margin-left: 0;
        width: 100%;
        background-color: white;
        display: flex;
        margin-top: 10;
    }
    .item-modal-page .body {
        margin-top: -39;
    }
    .num-items {
        margin-left: auto;
        width: 100%;
    }
    .addtocart-btn {
        width: 200;
    }
    .item-modal-page .flex-row {
        flex-direction: column;
    }
    .flex-row .right-side {
        width: 100%;
        padding-left: 0;
    }
    .flex-row .left-side {
        width: 100%;
        max-width: 100%;
    }
    .right-side .tags {
        width: 100%;
    }
    .item-modal-page {
        border-radius: 0px;
        margin-bottom: 0;
    }
}
@media only screen and (max-width: 1300px) and (min-width: 1100px) {
    .window-items {
        column-count: 2;
    } 
}
@media only screen and (max-width: 650px) {
    .window-items {
        column-count: 1;
    }
    .item-banner {
        font-size: 350%;
    }
    
}
@media only screen and (max-width: 800px) {
    .responsive-change {
        justify-content: center;
        display: flex;
        padding: 8;
        align-items: center;
    }
    .paralax-title {
        font-size: 40;
    }
    .level-display {
        display: none;
    }
    .location-display {
        display: none;
    }
    .deliver-to {
        margin-left: 10;
    }
    .level {
        margin-right: 10;
    }
    
}